:root {
    --background-color: hsl(0, 100%, 95%);
    --accent-color: rgba(78, 154, 216, 0.9);
    --accent-color2: rgb(26, 63, 85);
    --button-color: rgb(25, 45, 87);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background: radial-gradient(
        circle at top,
        var(--accent-color) 0%,
        var(--accent-color2) 100%
    
    );
    
    font-size: 1em;
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);

}

header {
    margin: 0 auto;
    margin-bottom: 10px;
    height: 100px;
    width: 100%;
    background: var(--button-color);
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    border-radius: 0px 0px 10px 10px;
}

.navBar{
    min-width: 100%;
    margin-bottom: 10px;
}

.navBar h1 {
    color: white;
}

.inputSection, .summarySection {
    margin: 0;
    background-color: aliceblue;
    padding: 10px 25px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.inputSection h3 {
    text-align: center;
}

.tempType {
    margin: 10px 0px 15px 0px;
}

#tempType {
    display: flex;
    align-self: center;
    text-align: center;
    justify-content: center;

    min-width: 100%;
    border-radius: 10px;

    margin-bottom: 10px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: clamp(1rem, calc(7vw + 1rem), 2rem);
    text-align: center;
}

h3 {
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

fieldset {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    overflow: hidden;
}


legend {
    color: gray;
    font-size: clamp(.5rem, calc(3vw + .5rem), .75rem);
}

option {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    text-align: center;
    justify-content: center;
    align-self: center;

    font-size: clamp(.75rem, calc(3vw + .5rem), .8rem);
    
}

select {
    border: gray .5px solid;
    accent-color: gray;
}

button {
    font-size: .8rem;
    width: 100%;
    color: aliceblue;
    font-family: "Poppins";
    border: none;
    padding: 10px  15px;
    border-radius: 20px;
    background-color: var(--button-color);
}

button:hover {
    cursor: pointer;
    scale: 1.02;
    transition: 150ms ease-in-out;
    box-shadow: 0px 3px 5px rgb(182, 182, 182);
}

#tempValue {
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    /* margin: 0px 0px 5px 0px; */

}
